@import '../node_modules/modern-normalize/modern-normalize.css';

body {
  background-color: #deb887;
}

header {
  background-color: #8b5a2b;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.mainHeader {
  background-color: #fff8dc;
  display: flex;
  gap: 4rem;
  justify-content: center;
  align-items: center;
}

.addBook {
  background-color: #60f127;
  padding: 1rem;
  border-radius: 24px;
}
.addBook:hover {
  background-color: #3cad0f;
  cursor: pointer;
}

.bookContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  padding: 2rem;
}

.bookCard {
  color: #ffd700;
  padding: 2rem;
  height: 50vh;
  text-align: center;
  background-image: url('./bookBackground.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.readStatus {
  margin-bottom: 12rem;
}

.toggleReadBtn {
  background-color: #60f127;
}

.removeBookBtn {
  background-color: #ff5741;
}

.toggleReadBtn,
.removeBookBtn {
  border-radius: 24px;
  padding: 0.75rem 2rem;
  cursor: pointer;
  transition: all;
  transition-duration: 300ms;
  scale: 0.75;
}

.removeBookBtn:hover,
.toggleReadBtn:hover {
  scale: 1;
}
