body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #eee9e9;
}

.title {
  text-align: center;
}
.calculator {
  background-color: #302f2f;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 320px;
  padding: 1rem;
}

.calcName {
  text-align: left;
  color: white;
}

.displayScreen {
  background-color: #b4e761;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  padding: 4rem;
  box-sizing: border-box;
  height: 8rem;
  border-bottom: 1rem solid #302f1f;
  border-radius: 2rem;
}

.previousNumber {
  font-size: 24px;
  color: #faf4f4;
}

.display {
  font-size: 36px;
  margin: 0;
}

.buttons {
  border-radius: 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1px;
  background-color: #ccc;
  gap: 0.25rem;
  padding: 10px;
}

.button {
  background-color: #fff;
  border: none;
  font-size: 24px;
  padding: 20px;
  border-radius: 12rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.disabled {
  background-color: #3d3c3c;
  border: none;
  font-size: 24px;
  padding: 20px;
  border-radius: 12rem;
}

.button:hover {
  background-color: #f0f0f0;
}

.button:active {
  background-color: #e0e0e0;
}

.operations {
  background-color: #f9a825;
  color: #fff;
}

.operations:hover {
  background-color: #fbc02d;
}

.operations:active {
  background-color: #f57f17;
}

.clear {
  background-color: #e53935;
  color: #fff;
}

.clear:hover {
  background-color: #ef5350;
}

.clear:active {
  background-color: #c62828;
}

.backspace {
  background-color: #ff7043;
  color: #fff;
}

.backspace:hover {
  background-color: #ff8a65;
}

.backspace:active {
  background-color: #d84315;
}

.equals {
  background-color: #43a047;
  color: #fff;
  grid-column: span 2;
}

.equals:hover {
  background-color: #66bb6a;
}

.equals:active {
  background-color: #2e7d32;
}
